/* Fixturematches.css */

.Fixturecontainer {
  background-color: #b3e9b3;
  display: flex;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.upcoming-matches {
  width: 95%;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  color: white;
}

.match-card {
  margin-left: 25%;
  height: 20vh;
  width: 50%;
  border-radius: 0px;
  box-shadow: 0 0 13px 0px gray;
  justify-content: center;
  font-size: 80px;
  color: white;
  margin-top: 9%;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background-image: url("../assest/bgimag.jpg"); /* Corrected URL */
  background-repeat: no-repeat;
  background-size: cover;
}

.date {
  font-size: 16px;
}

.teams {
  display: flex;
  align-items: center;
  justify-content: center;
}

.teams img {
  height: 70px;
  width: 70px;

  margin-left: 100px;
}

.time {
  font-size: 16px;
  margin-top: 10px;
}
