/* Fixture.css */

.container1 {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 100vw;
    background: linear-gradient(90deg, rgba(27,25,50,1) 0%, rgba(18,47,79,1) 0%, rgba(26,27,26,1) 100%, rgba(117,128,130,1) 100%);
    color: white;
    border: 1px solid #ccc;
    text-align: center;
 
}

/* Styles for the tabs */
.MuiTabs-root {
  width: 260px;
  justify-content: center;
  color: white;
  font-weight: 800; /* Updated font weight */
  margin-left: 40%;
  background-color: white;
  font-size: 20px; /* Updated font size */
  margin-top: 1%;
  box-shadow: 0 0 10px gray;
  border-bottom-right-radius: 20px;
border-top: 2px solid yellow;
 
}

.MuiTab-root {
  flex-grow: 1;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-right: 1px solid #444;
  color: rgb(12, 12, 12);
  font-size: 20px; /* Updated font size */
  font-weight: 800; /* Updated font weight */


}

.MuiTab-root:last-child {
  border-right: none;
}

.MuiTab-textColorPrimary.Mui-selected {
  background-color: rgb(214, 214, 214);
  color: gray;
}

/* Styles for the content container */
.content-container {
  flex-grow: 1;
  padding: 10px;
  border-top: 2px solid blue;
}
