.App {
  text-align: center;


  background-color:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(198,198,255,1) 100%, rgba(0,212,255,1) 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

